@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis */
:root {
  --primary-font-family: Poppins, Sans-serif, Arial, Helvetica;
  --secondary-font-family: JetBrains Mono, Sans-serif, Arial, Helvetica;
  --primary-color: #fff;
}

/* Tags Genéricas */
html {
  overflow-x: hidden;
}

h3 {
  font-family: var(--primary-font-family);
}

h5 {
  font-family: var(--primary-font-family);
}

label {
  font-family: var(--secondary-font-family);
}

img {
  border-radius: 8px;
}

/* Nav */
.img_logo {
  width: 48px;
  height: 48px;
  margin-left: 16px;
}

.logo_title_1 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  margin-left: 16px;
}
.logo_title_2 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  color: red;
}

/* Vídeo apresentação */
.video_apresentacao video {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

/* Título da página */
.main_title {
  position: absolute;
  font-family: var(--primary-font-family);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .main_title {
    font-size: 48px;
  }
}

.main_title_2 {
  color: red;
}

/* Encomenda */
.main_form {
  padding-bottom: 32px;
}

.carousel_container {
  padding-bottom: 32px;
}

/* Depoimentos */
.depoimentos_container {
  padding-bottom: 32px;
}

/* .card_depoimentos {
  margin: 0 48px 0 48px;
} */

.img_depoimentos {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

/* Sobre nós */
.card_sobre {
  transition: 0.3s ease;
  cursor: pointer;
}
.card_sobre:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.img_cars {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.about-us__card__image {
  height: 300px;
  object-fit: cover;
}

.text_card {
  color: var(--primary-color);
}

/* Carros Estoque */
.cars_estoque {
  height: 300px;
  object-fit: cover;
}

/* Footer */
.social_icons {
  width: 24px;
  height: 24px;

  transition: 0.3s ease;
}

.social_icons:hover {
  transform: scale3d(1.2, 1.2, 1);
}
